<html>
    <head>
        <title>My Evo Calendar</title>
        <!-- <link rel="stylesheet" href = "style.css"> -->
        <link rel="stylesheet" href="evo-calendar.css">
        <link rel="stylesheet" href="evo-calendar.midnight-blue.css">
    </head>
    <body>

        <div class = "hero">
            <div id="calendar"></div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.js"></script>
        <script src = "/static/js/evo-calendar.js"></script>
        <script>
            // initialize your calendar, once the page's DOM is ready
            $(document).ready(function() {
                $('#calendar').evoCalendar({
                    
                })
            })
        </script>

    </body>
</html>
