{% extends "layout.html" %}
{% block content %}

<head>
    <title>Hybrid Scehdule | {{ name }}</title>
    <link rel="stylesheet" href="/static/css/evo-calendar.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<section class="home">
    <div class="calendar" id="company_cal">
        <h2>Company Calendar</h2>
        <div class="hero">
            <div id="company_calendar"></div>
        </div>
    </div>
    <div class="calendar" id="personal_cal">
        <h2>Personal Calendar</h2>
        <div class="hero">
            <div id="personal_calendar"></div>
        </div>
    </div>
</section>

<script src="/static/js/evo-calendar.js"></script>
<script>
    function getData(){
        let company_calendar = [],
            personal_calendar = [];

        fetch('/home/update')
            .then(function (response) {
                return response.json();
            }).then(function (data) {
                data.company.forEach((event) => {
                    company_calendar.push({
                        id: event.id,
                        name: `${event.name}`,
                        description: `${event.start_time} - ${event.end_time}`,
                        date: event.date,
                        type: 'event',
                        everyYear: false
                    });
                });

                data.personal.forEach((event) => {
                    personal_calendar.push({
                        id: event.id,
                        name: `${event.start_time} - ${event.end_time}`,
                        date: event.date,
                        type: 'event',
                        everyYear: false
                    });
                });

                createCalendars(company_calendar, personal_calendar)
            });
    }

    function updateData() {
        let start = $('#start_time').val();
        let end = $('#end_time').val();
        let selected_date = $('#time_submit').attr('class');
        let personal_calendar = $('#personal_calendar').evoCalendar("getEvents");

        let id;
        for (var i in personal_calendar)
            if (personal_calendar[i].date == selected_date) {
                id = personal_calendar[i].id;
                break;
            }

        let data = {
            id: id,
            date: selected_date,
            start_time: start,
            end_time: end,
            action: "add"
        };

        if (id != null)
            data.action = 'update';

        $.ajax({
            url: '/home/update',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                console.log("Item added")
            }
        });

        fetch('/home/id')
            .then(function (response) {
                return response.json();
            }).then(function (slot) {
                if(id != null){
                    $('#personal_calendar').evoCalendar("removeCalendarEvent", slot.id);
                    $('#company_calendar').evoCalendar("removeCalendarEvent", slot.id);
                }
                $('#personal_calendar').evoCalendar("addCalendarEvent", [{
                    id: slot.id,
                    name: `${data.start_time} - ${data.end_time}`,
                    date: data.date,
                    type: 'event',
                    everyYear: false 
                }]);
                $('#company_calendar').evoCalendar("addCalendarEvent", [{
                    id: slot.id,
                    name: `${slot.name}`,
                    description: `${data.start_time} - ${data.end_time}`,
                    date: data.date,
                    type: 'event',
                    everyYear: false 
                }]);
            })
    }

    function removeData() {
        let selected_date = $('#remove_button').attr('class');
        let personal_calendar = $('#personal_calendar').evoCalendar("getEvents");

        console.log(selected_date)

        let id = null;
        for (var i in personal_calendar)
            if (personal_calendar[i].date == selected_date) {
                id = personal_calendar[i].id;
                break;
            }
        
        console.log(id)
        if (id == null)
            return;

        let data = {
            id: id,
            date: selected_date,
            action: "remove"
        };

        $.ajax({
            url: '/home/update',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                console.log(`Item #${id} removed`)
            }
        });

        $('#personal_calendar').evoCalendar("removeCalendarEvent", id);
        $('#company_calendar').evoCalendar("removeCalendarEvent", id);
        $('#company_calendar').find('.event-list').html(
            `
                <div class='event-empty'>
                    <p>The office is empty!</p>
                </div>
            `
        );
    }

    function createCalendars(company_calendar, personal_calendar) {

        $('#company_calendar').evoCalendar({
            sidebarToggler: false,
            sidebarDisplayDefault: false,
            eventListToggler: false,
            eventDisplayDefault: true,
            calendarEvents: company_calendar
        })

        $('#personal_calendar').evoCalendar({
            sidebarToggler: true,
            sidebarDisplayDefault: false,
            calendarEvents: personal_calendar
        })

        // console.log($('#company_calendar').evoCalendar("getEvents"));
    }

    $(document).ready(function () {
        getData()

        $("#personal_calendar").on('selectDate', function () {
            let el = $(event.target).closest('.event-container').prevObject[0];
            let selected_date = $(el).attr('data-date-val');
            let input = $('#personal_calendar').find('.event-list');
            let old_time = $(input).find('.event-title');
            let start_time = "06:00",
                end_time = "15:00";

            if (old_time.length > 0)
                [start_time, end_time] = $(old_time).html().split(' - ');

            input.html(
                `
                    <form id="time-input">
                        <input type="time" id="start_time" name="appt" min="06:00" max="11:00" value="${start_time}" required>
                        <input type="time" id="end_time" name="appt" min="15:00" max="22:00" value="${end_time}" required>
                        <div class="buttons">
                        <input type="button" id="time_submit" onclick=updateData() class=${selected_date} value="Submit">
                        <input type="button" id="remove_button" onclick=removeData() class=${selected_date} value="Remove">
                        </div>
                    </form>                
                `
            );
        });
    })
</script>

{% endblock content %}