{% extends "layout.html" %}
{% block content %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/forms.css">
    <script src="https://kit.fontawesome.com/90715ce400.js" crossorigin="anonymous"></script>
</head>

<section class="forms">
    {% if form_type %}

    <title>Hybrid Schedule | Sign In</title>
    <form method="POST" action="" id = "sign_in_form">
      <div id = "signin-container">
        {{ form.hidden_tag() }}
        <span class = "signin-header">Log in</span>
        <div id = "signin2-container">
        <fieldset class="form-group">
            <div class="signin-form-group">
                {{ form.email.label(class="email_label") }} 
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback"> 
                    {% for error in form.email.errors%} 
                        <span>{{error}}</span>
                    {% endfor %} 
                    </div> 
                    {% else %} 
                    <i class="fa-solid fa-envelope"></i>
                        {{ form.email(class="signin_input", placeholder = "Email") }}
                        <span class = "bar"></span>
                    {% endif %}
            </div>
            <div class="signin-form-group">
                {{ form.password.label(class="password_label") }} 
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> 
                    {% for error in form.password.errors%} 
                        <span>{{error}}</span>
                    {% endfor %} 
                    </div> 
                    {% else %} 
                    <i class="fa-solid fa-lock"></i>
                        {{ form.password(class="signin_input", placeholder="Password") }}
                        <span class = "bar"></span>
                    {% endif %}
            </div>
            <div class="form-group">
                {{ form.remember.label(class="", id = "remember_field") }} 
                  {% if form.remember.errors %}
                {{ form.remember(class="") }}
                <div class="invalid-feedback"> 
                  {% for error in form.remember.errors%} 
                    <span>{{error}}</span>
                  {% endfor %} 
                </div> 
                  {% else %} 
                    {{ form.remember(class="") }}
                  {% endif %}
            </div>
        </fieldset>
        <div class="signin-form-group">
            {{ form.submit(class="submit_button", id = "submit_signin")}}
        </div>
        <div class = "switch-login">
          <p>Don't have an account yet?</p>
            <a href="{{ url_for('auth.signup') }}"><span>Sign up</span></a>
        </div>
        </div>
      </div>
    </form>

    {% else %}

    <title>Hybrid Schedule | Sign Up</title>
    <form method="POST" action="" id = "sign_up_form">
      <div id = "form-container">
          <span class = "form-header">Sign up</span>
          <div id = "form2-container">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id = "formed">
            <div class="signup-form-group">
                {{ form.name.label(class="form-control-label") }} 
                {% if form.name.errors %}
                  {{ form.name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback"> 
                    {% for error in form.name.errors%} 
                        <span>{{error}}</span>
                    {% endfor %} 
                  </div> 
             {% else %} 
             <i class = "fas fa-user"></i>
                {{ form.name(class="signup_input", placeholder = "Name") }}
                <span class = "bar"></span>
             {% endif %}
            </div>
            <div class="signup-form-group">
                {{ form.email.label(class="form-control-label") }} 
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> 
                    {% for error in form.email.errors%}
                        <span>{{error}}</span>
                    {% endfor %} 
                </div> 
              {% else %} 
              <i class="fa-solid fa-envelope"></i>
                {{ form.email(class="signup_input", placeholder = "Email") }}
                <span class = "bar"></span>
              {% endif %}
            </div>
            <div class="signup-form-group">
                {{ form.group_id.label(class="form-control-label") }} 
                {% if form.group_id.errors %}
                  {{ form.group_id(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback"> 
                    {% for error in form.group_id.errors%} 
                        <span>{{error}}</span>
                    {% endfor %} 
                </div> 
              {% else %} 
              <i class="fa-solid fa-id-badge"></i>
                {{ form.group_id(class="signup_input", placeholder = " Group ID") }}
                <span class = "bar"></span>
              {% endif %}
            </div>
            <div class="signup-form-group">
                {{ form.password.label(class="form-control-label") }} 
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> 
                    {% for error in form.password.errors%} 
                        <span>{{error}}</span>
                    {% endfor %} 
                </div> 
                    {% else %}
                    <i class="fa-solid fa-lock"></i>
                     {{ form.password(class="signup_input", placeholder = "Password") }}
                     <span class = "bar"></span>
                    {% endif %}
            </div>
            <div class="signup-form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> 
                    {% for error in form.confirm_password.errors%}
                        <span>{{error}}</span> 
                    {% endfor %} 
                </div> 
                {% else %}
                <i class="fa-solid fa-lock"></i>
                    {{ form.confirm_password(class="signup_input", placeholder = "Confirm Password") }} 
                    <span class = "bar"></span>
                {% endif %}
            </div>
        </fieldset>
        <div class="signup-form-group">
            {{ form.submit(class="fa-brands fa-telegram", id = "submit_signup") }}
        </div>
        <div class = "switch-login">
            <p>Already have an account?</p>
            <a href="{{ url_for('auth.signin') }}"><span>Login</span></a>
        </div>
        </div>
      </div>
    </form>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class='notification {{ messages[0][0] }}'>
            {{ messages[0][1] }}
             <!-- Go to <a href="{{ url_for('auth.signin') }}">login page</a>. -->
        </div>
    {% endif %}
    {% endwith %}
</section>

<!-- <script src="/static/js/login.js"></script> -->

{% endblock content %}