{% extends "layout.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/forms.css">
</head>

<section class="forms">
    {% if form_type %}
    <h1>Welcome Back!</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }} {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.email.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }} {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.password.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.remember.label(class="") }} {% if form.remember.errors %}
                {{ form.remember(class="") }}
                <div class="invalid-feedback"> {% for error in form.remember.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.remember(class="") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    {% else %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.signin') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    <h1>Sign Up</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }} {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.name.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }} {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.email.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.groupID.label(class="form-control-label") }} {% if form.groupID.errors %}
                {{ form.groupID(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.groupID.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.groupID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }} {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.password.errors%} <span>{{error}}</span>
                    {% endfor %} </div> {% else %} {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback"> {% for error in form.confirm_password.errors%}
                    <span>{{error}}</span> {% endfor %} </div> {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }} {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    {% endif %}
</section>

<!-- <script src="/static/js/login.js"></script> -->

{% endblock content %}